
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #fff59d;
}

.header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .btn button{
    margin-left: 10px;
    font-weight: 100;
    color: #ac293f;
    padding: 3px 15px;
    background: #9ae4be;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.header .busqueda svg{
    color: #ac293f;
    height: 25px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: scale(1.1);
}

.position {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
}

.slider {
    background-image: url(1.jpg);
    background-size: cover;
    height: 430px;
    width: 50%;
    border-radius: 10px;
    animation:  animate 10s infinite;
}

@keyframes animate {
    30%{
        background-image: url(3.jpg);
        background-size: cover;
    }
    60%{
        background-image: url(2.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(1.jpg);
        background-size: cover;
    }
}

footer{
position: absolute;
bottom:0;
width: 100%;
text-align: center;
background-color: rgb(109, 182, 139)
}
